@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #eb7494 0deg,
    #ae77b2 55deg,
    #97b5da 120deg,
    #0099ca 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    /* from 90deg at 50% 50%,
    #ff8b7e 0deg,
    #e24e6b 160deg,
    #7edab8 120deg,
    #8bdce0 55deg,
    transparent 360deg */

    /* from 160deg at 50% 50%,
    #e89397 160deg,
    #fbff00 160deg,
    #3a7edd 160deg,
    #0bee9b 160deg,
    transparent 360deg */

    from 160deg at 50% 50%,
    #c05bb6 160deg,
    /* #fbff00 160deg, */
    #1a70ea 160deg,
    #b83843 160deg,
    transparent 360deg
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */

  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity:0.8
}

body::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter:blur(90px);  
  top: calc(50vh - 50vw/2);
  left: calc(50vw );
}

body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 300px;
  height: 700px;
  filter:blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);

  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);

  }
  100% {
    transform: translateX(0);
  }
}

body::before {
  /*...previous props*/
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body::after {
  /*...previous props*/
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}